@{
    // Used Table [Member]
    // 회원관리 - 약관 개인정보
    
    ViewData["Title"] = "MemberRegSubscription Page";
}

<div class="text-center">
    <h1 class="display-4">MemberRegSubscription Page</h1>
    <p>MemberRegSubscription Page.</p>
</div>
