@{
    // Used Table [Member]
    // 회원관리 - 가입
    
    ViewData["Title"] = "MemberRegFinished Page";
}

<div class="text-center">
    <h1 class="display-4">MemberRegFinished Page</h1>
    <p>MemberRegFinished Page.</p>
</div>
