@{
    // Used Table [Member]
    // 고객관리시스템 - 고객목록
    // 선행작업 - 관리자 로그인
    ViewData["Title"] = "MemberList Page";
}

<div class="text-center">
    <h1 class="display-4">MemberList Page</h1>
    <p>MemberList Page.</p>
</div>
