<!DOCTYPE HTML>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, user-scalable=no">
    <title>Ki4C</title>
    <link rel="stylesheet" type="text/css" href="~/index/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/default.css">
    <link rel="shortcut icon" href="images/favicon/favicon.ico">
    <link rel="apple-touch-icon-precomposed" href="images/favicon/indigo-touch-icon.png">
    <script src="js/jquery.min.js"></script>
    <script src="js/indigo.min.js"></script>
    <link rel="stylesheet" href="css/nav-footer.css">
</head>
<body>
    <div id="wrap">
		<!-- header ------------------------------------------ -->
        <header class="header cfixed">
            <h1 class="logo"><a href="">Ki4C</a></h1>
		</header>
		<!-- //header -->
		<!-- nav --------------------------------------------- -->
		<nav>
			<div class="container">
				<ul class="leftMenu">
					<li><a href="galary.html">홈</a></li>
					<li class="dropBox">
						<a href="board.html">회사소개</a> 
						<span class="dropmenu"> 
							<span><a href="#">인사말</a></span> 
							<span><a href="#">DX 소개</a></span> 
							<span><a href="#">찾아오시는 길</a></span>
						</span>
					</li>
					<li class="dropBox">
						<a href="">DX진단</a> 
						<span class="dropmenu"> 
							<span><a href="#">무료체험</a></span> 
							<span><a href="#">전문가 진단</a></span> 
						</span>
					</li>
					<li><a href="#">...</a></li>
					<li><a href="#">기타</a></li>
				</ul>
				<ul class="rightMenu">
					<li><a href="join.html">회원가입</a></li>
					<li><a href="login.html">로그인</a></li>
				</ul>
			</div>
		</nav>
	<!-- //nav -->
            <span class="menu-toggle-btn">
                <span></span>
                <span></span>
                <span></span>
            </span>

        <article class="slider">
            <img src="images/p-images/section1_bg.png" alt="">
        </article>
        <section class="content">
            <section class="display-section">
                <div class="container">
                    <h2 class="sec-tit"><a href="#">무료체험</a></h2>
                    <p class="desc">AI 기반 DX진단 Service : 국내 창업기업, 중소기업, 중견기업 대상 DT역량 진단</p>
                </div>
            </section>
            <section class="promotion-section">
                <div class="container">
                    <ul class="promo-list">
                        <li>
                            <a href="">
                                <img src="images/s-images/promo01.png" alt="">
                                <h3>조합소개</h3>
                                <p>케이아이포씨 협동조합, 디지털 트랜스포메이션 진단 및 컨설팅 서비스 제공</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/s-images/promo02.png" alt="">
                                <h3>WE ARE</h3>
                                <p>디지털 트랜스포메이션(DT) 역량진단 사업</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/s-images/promo03.png" alt="">
                                <h3>WORK</h3>
                                <p>문제를 정확히 진단하고 컨설팅하라</p>
                            </a>
                        </li>
                        <li>
                            <a href="">
                                <img src="images/s-images/promo04.png" alt="">
                                <h3>주요사업</h3>
                                <p>디지털 트랜스포메이션(이하 DT) 역량진단/교육/기술지원•자문•컨설팅/학술연구•정책용역•서비스/각종 특허 및 기술 정보 제공</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="divider">
            <section class="work-section cfixed">
                <h2 class="sec-tit">WORK</h2>
                <ul class="work-list">
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>역량진단 사업</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="images/p-images/main_icon1.png" style="width:50%; height:50%" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>교육사업</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="images/p-images/main_icon2.png" style="width:50%; height:50%" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>기술지원자문 컨설팅 사업</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="images/p-images/main_icon3.png" style="width:50%; height:50%" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>정부기관 정책 용역 사업</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="images/p-images/main_icon4.png" style="width:50%; height:50%" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>특허 기술 정보 제공 사업</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="images/p-images/main_icon5.png" style="width:50%; height:50%" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="">
                            <div class="info">
                                <h3>...</h3>
                                <span>WEB/PRINT</span>
                            </div>
                            <img src="" style="width:50%; height:50%" alt="">
                        </a>
                    </li>
                </ul>
            </section>
            <hr class="m-divider">

        <footer class="footer">           
            <p class="copyright">
              <br />
              <br />
              
            </p>
        </footer>
		
		<div class="footer_wrap">
			<div class="footer_menu">
				<div class="relative">
					<ul>
						<li><a href="">회사소개</a></li>
						<li><a href="">DX진단</a></li>
						<li><a href="">회원약관</a></li>
						<li><a href="">개인정보처리방침</a></li>
						<li><a href="">...</a></li>
						<li><a href="">기타</a></li>
					</ul>
				</div>
			</div>

			<div class="footer_info">
				<img src="">
				<p class="p1">케이아이포씨(Ki4C) 협동조합 TEL : 02)2088-5953 Mobile : 010-2563-9514 .</p>

				<div class="service_center_info">
					<p class="p2">개인정보처리방침 | 이용약관 | 서비스 이용약관 | 이메일무단수집거부 | 아이디어 정책</p>
					<p class="p1">Copyrightⓒ2020 케이아이포씨(Ki4C) 협동조합. ALL RIGHTS RESERVED.</p>
				</div>
			</div>
		</div>
    </div>
</body>
</html>