@{
    // Used Table []
    // DX 소개
    
    ViewData["Title"] = "IntroductionDX Page";
}

<div class="text-center">
    <h1 class="display-4">IntroductionDX Page</h1>
    <p>IntroductionDX Page.</p>
</div>
