@{
    // Used Table [Member]
    // 마이페이지 - 내 정보 수정
    ViewData["Title"] = "MyInfoUpdate Page";
}

<div class="text-center">
    <h1 class="display-4">MyInfoUpdate Page</h1>
    <p>MyInfoUpdate Page.</p>
</div>
