@{
    // Used Table [Member]
    // 마이페이지 - 내정보 보기
    ViewData["Title"] = "MyInfoRead Page";
}

<div class="text-center">
    <h1 class="display-4">MyInfoRead Page</h1>
    <p>MyInfoRead Page.</p>
</div>
