@{
    // Used Table [Member]
    // 마이페이지 - 탈퇴
    ViewData["Title"] = "MyInfoDelete Page";
}

<div class="text-center">
    <h1 class="display-4">MyInfoDelete Page</h1>
    <p>MyInfoDelete Page.</p>
</div>
