@{
    // Used Table [Support]
    // 마이페이지 - 내정보 보기 - 진단 내역 - 목록
    ViewData["Title"] = "RegPostList Page";
}

<div class="text-center">
    <h1 class="display-4">RegPostList Page</h1>
    <p>RegPostList Page.</p>
</div>
